:root {
  --color-primary-green: #495e57;
  --color-primary-yellow: #f4ce14;
  --color-primary-yellow-dark: #dab606;
  --color-secondary-dark: #ee9972;
  --color-secondary-light: #fbdabb;
  --color-tertiary-light: #edefee;
  --color-tertiary-fark: #444444;
  --color-white: #ffffff;

  /* Text Colors */
  --text-color-one: rgb(72, 98, 132);
  --text-color-two: #edefee;
  --text-color-three: #8ca2c0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "DM Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
